/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/open-sans-v26-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v26-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/open-sans-v26-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v26-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/open-sans-v26-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v26-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/open-sans-v26-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v26-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/open-sans-v26-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v26-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*!* Makes tailwind work */
@tailwind base;
body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: #ffdf9b;
}
@tailwind components;
@tailwind utilities;

/* TODO Import fonts styles from the webfonts helper, inside of the @font-face {} tag */

/* !*Applies global styles to all the elements to select */
/* TODO Change the settings to match the design */
@layer base {
  h1 {
    @apply text-h2;
    @apply lg:text-h1;
    @apply font-semibold;
  }
  h2 {
    @apply text-h3;
    @apply lg:text-h2;
    @apply font-semibold;
  }
  h3 {
    @apply text-h3;
    @apply font-semibold;
  }
  p,
  a {
    @apply text-body_regular;
  }
  a {
    /* @apply hover:underline; */
    /* @apply focus:underline; */
  }

  /* *Flexbox utilities */
  .colToRowMd {
    @apply flex;
    @apply flex-col;
    @apply md:flex-row;
  }
  .colToRowLg {
    @apply flex;
    @apply flex-col;
    @apply lg:flex-row;
  }
  .rowToColMd {
    @apply flex;
    @apply md:flex-col;
  }
  .rowToColLg {
    @apply flex;
    @apply lg:flex-col;
  }
}

/* TODO Border styling. Change the settings to match the design */
.border {
  border: 0px 0px 2px 0px black;
  /* box-shadow: 2px 2px 2px 2px red;; */
}

/* TODO Hover styling. Change the settings to match the design */
.hover:hover,
.hover:focus {
  transition: 200ms ease-in-out;
  cursor: pointer;
  /* background-color: red; */
}

/* * Remove underline styling for buttons */
.button:hover,
.button:focus {
  text-decoration: none;
}

/* *Brightness filters */
.dimmer-33 {
  filter: brightness(33%);
}
.dimmer-50 {
  filter: brightness(50%);
}
.dimmer-75 {
  filter: brightness(75%);
}

/* * Remove underline styling for buttons */
.noUnderline:hover,
.noUnderline:focus,
.button:hover,
.button:focus {
  text-decoration: none !important;
}

/* * Rotate an object, image, etc. */
.rotate180 {
  transform: rotate(180deg);
}
.rotate90 {
  transform: rotate(90deg);
}
.circle {
  border-radius: 50%;
}
.hamburgerTransition {
  transition: background-color 5s ease-in 0.3s;
}

.navBorderBot {
  /* background-color: #333; */
  /* margin-bottom: 24px; */
  border-radius: 1px;
  border-bottom: 2px solid #25777e;
}
.noUnderline:hover {
  text-decoration: none;
}
